.jumbotron {
    background-color: #2980B9;
    border: 1px solid #1ABC9C;
    h2 {
        color: #ffffff;
        font-weight: bold;
    }
}

.navbar-default {
    .container-fluid {
        background-color: #2980B9;
        .navbar-nav > li > a {
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
        }
        .navbar-brand {
            color: black;
            font-size: 30px;
            font-weight: bold;
            font-family: 'Tahoma';
            text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        }
        }
    }

.container-fluid {
    padding: 10px 120px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }